AUTH_SECRET="LlVbVl7GhP/6wFWYkltgNb5Tz9hVpSHWnA3BAltMR+o=" # Added by `npx auth`. Read more: https://cli.authjs.dev


NEXT_PUBLIC_BE_URL=http://localhost:8000/api

NEXT_PUBLIC_APP_NAME="Rentastic"
NEXT_PUBLIC_LOGO = "logo5.png"

NEXT_PUBLIC_UNSPLASH_ACCESS_KEY = "8lPwpZZpD5CheSsAKEKeVA-KsD0-sqYGEgfmO0jQVs8"
NEXT_PUBLIC_ACCOUNT_REGISTRATION = true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXTAUTH_SECRET=anyrandomstring
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api

USER_TOKEN_AGE=60 #menit
